<template>
  <div>
    <v-data-table
      @select="cartSelected()"
      :headers="headers"
      :items="cart"
      class="elevation-1"
      :show-select="selection"
      pagination.async="pagination"
      item-key="id"
    ></v-data-table>
    <v-spacer></v-spacer>
    <v-btn @click="checkout()" color="primary">Checkout</v-btn>
  </div>
</template>
<script>
import { ServiceFactory } from "../services/ServiceFactory";
const CartService = ServiceFactory.get("cart");
const OrderService = ServiceFactory.get("order");

export default {
  data: () => ({
    selection: true,
    user: [],
    headers: [
      { text: "Products", value: "product_name" },
      { text: "Quantity", value: "quantity" },
      { text: "Total (Ksh.)", value: "total" }
    ],
    cart: []
  }),
  methods: {
    getCart() {
      CartService.get(this.user.id)
        .then(response => {
          if (response.status === 200) {
            let items = response.data;
            //let totalPrice = 0;
            for (var item of items) {
              this.cart.push({
                product_name: item.product.name,
                quantity: item.qty,
                total: item.product.price
              });
              //totalPrice += this.item.product.price;
            }
          }
        })
        .catch(err => {
          alert(err);
        });
    },
    cartSelected() {
      alert("Selected");
    },
    checkout() {
      OrderService.checkout(this.user.id).then(response => {
        if (response.status === 201) {
          alert("Checkout successful");
        }
      });
    }
  },
  mounted() {
    this.user = JSON.parse(localStorage.getItem("user"));
    this.getCart();
  }
};
</script>
