<template>
  <div>
    <v-container>
      <v-row align="end" justify="end">
        <v-alert
          elevation="10"
          color="red"
          dismissible
          v-text="errorMsg"
          v-model="alert"
        ></v-alert> </v-row
      ><v-row align="end" justify="end">
        <v-form v-model="valid" ref="form" :lazy-validation="lazy">
          <v-text-field
            append-icon="mdi-email"
            v-model="username"
            label="E-mail"
            :rules="emailRules"
            required
          />
          <v-text-field
            append-icon="mdi-vpn-key"
            type="password"
            v-model="password"
            label="Password"
            required
          />
          <v-btn class="mr-2" color="success" @click="login">Login</v-btn>
          <v-btn color="primary" to="/signup">Signup</v-btn>
        </v-form>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import { ServiceFactory } from "../services/ServiceFactory";
const AuthService = ServiceFactory.get("auth");

export default {
  data: () => ({
    alert: false,
    lazy: false,
    valid: true,
    errorMsg: "",
    username: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v =>
        /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
        "E-mail must be valid"
    ],
    password: ""
  }),
  methods: {
    login() {
      //TODO v1.0 Validate input
      let userData = { username: this.username, password: this.password };
      AuthService.login(userData)
        .then(result => {
          localStorage.setItem("user", JSON.stringify(result.data));
          localStorage.setItem("token", result.data.token);
          this.$store.dispatch("login");
          this.$router.push("/");
        })
        .catch(err => {
          this.alert = true;
          this.errorMsg = "Wrong credentials specified : " + err;
        });
    }
  }
};
</script>
