<template>
  <div>
    <v-data-table
        @select="cartSelected()"
        :headers="headers"
        :items="order"
        class="elevation-1"
        :show-select="selection"
        pagination.async="pagination"
        item-key="id"
        ></v-data-table>
    <v-spacer></v-spacer>
  </div>
</template>
<script>
  import { ServiceFactory } from "../services/ServiceFactory";
  const OrderService = ServiceFactory.get("order");

  export default {
      data: () => ({
              selection: true,
              user: [],
              headers: [
                  //{ text: "Products", value: "product_name" },
                  {text: "No. of Products", value: "quantity"},
                  {text: "Date", value: "date"},
                  {text: "Amount (Ksh.)", value: "amount"},
                  {text: "Status", value: "status"}
              ],
              order: []
          }),
      methods: {
          getOrder() {
              OrderService.get(this.user.id)
                      .then(response => {
                          if (response.status === 200) {
                              let itemsJson = JSON.stringify(response.data);
                              let items = JSON.parse(itemsJson);
                              //alert("Status is 200: "); // + ;
                              for (var item of items) {
                                  //alert(JSON.stringify(item));
                                  //alert(counter);
                                  this.order.push({
                                      //product_name: item.orderItems[counter].product.name,
                                      quantity: item.orderItems.length,
                                      date: new Date(item.date),
                                      amount: item.amount,
                                      status: item.status
                                  });
                                  
                                  //totalPrice += this.item.product.price;
                              }
                          }
                      })
                      .catch(err => {
                          alert("Error occured " + err);
                      });
          },
          cartSelected() {
              alert("Selected");
          },
          checkout() {
              OrderService.checkout(this.user.id).then(response => {
                  if (response.status === 201) {
                      alert("Checkout successful");
                  }
              });
          }
      },
      mounted() {
          this.user = JSON.parse(localStorage.getItem("user"));
          this.getOrder();
      }
  };
</script>
