<template>
  <v-container>
    <v-card>
      <v-card-title primary-title>
        Username
      </v-card-title>
      <v-card-text>All other details.</v-card-text>
    </v-card>
  </v-container>
</template>
