<template>
  <v-container>
    <v-row align="center" justify="end">
      <v-form v-model="valid" :lazy-validation="lazy">
        <v-text-field
          v-model="user.fullnames"
          label="Fullnames"
          append-icon="mdi-person"
          required
        ></v-text-field>
        <v-text-field
          label="E-mail"
          v-model="user.email"
          :rules="emailRules"
          append-icon="mdi-contact-mail"
        ></v-text-field>
        <v-text-field
          label="Phonenumber"
          v-model="user.phoneNumber"
          append-icon="mdi-phone"
          required
        ></v-text-field>
        <v-text-field
          label="Address"
          v-model="user.address"
          append-icon="mdi-address"
          required
        ></v-text-field>
        <v-text-field
          label="Password"
          v-model="user.password"
          append-icon="mdi-vpn-key"
          required
        ></v-text-field>
        <v-text-field
          label="Confirm Password"
          v-model="confirmPassword"
          append-icon="mdi-vpn-key"
          required
        ></v-text-field>
        <v-btn @click="signup" color="success">Sign up</v-btn>
        <router-link to="/login">Have an account?</router-link>
      </v-form>
    </v-row>
  </v-container>
</template>
<script>
import { ServiceFactory } from "../services/ServiceFactory";
const CustomerService = ServiceFactory.get("customers");

export default {
  data: () => ({
    emailRules: [
      v => !!v || "E-mail is required",
      v =>
        /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
        "E-mail must be valid"
    ],

    confirmPassword: "",
    valid: true,
    lazy: true,
    user: {
      phoneNumber: "",
      address: "",
      password: "",
      fullnames: "",
      email: "",
      date: new Date().toISOString()
    }
  }),
  methods: {
    signup() {
      this.user = Object.assign({}, this.user, {
        date: new Date().toISOString()
      });
      //alert(JSON.stringify(this.user));
      CustomerService.createUser(this.user)
        .then(result => {
          //alert(result.data);
          //TODO: send email notification
          if (result.status === 201) {
            alert("created");
            this.$router.push("/login");
          }
        })
        .catch(err => {
          alert(err);
        });
    }
  }
};
</script>
