<template>
  <div>
    <v-row dense>
      <v-col
        v-for="product in products"
        :key="product.id"
        xl="12"
        sm="6"
        md="6"
        lg="3"
      >
        <v-card>
          <v-img
            :src="product.src"
            alt="Procuct"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="200px"
          >
            <v-card-title v-text="product.name"></v-card-title>
          </v-img>
          <v-card-subtitle v-text="product.amount"></v-card-subtitle>
          <v-card-text
            class="text-primary"
            v-text="product.description"
          ></v-card-text>
          <v-card-actions>
            <v-btn color="orange" text @click="addToCart(product)"
              >Add to cart</v-btn
            >
            <v-btn color="orange" text>View</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import { ServiceFactory } from "../services/ServiceFactory";
const ProductService = ServiceFactory.get("products");
const CartService = ServiceFactory.get("cart");

export default {
  data: () => ({
    products: []
  }),
  methods: {
    getProducts() {
      ProductService.get()
        .then(result => {
          if (result.status === 200) {
            this.products = result.data;
          }
        })
        .catch(err => {
          //TODO: v1.0 Ensure an error alert is in place
          alert(err);
        });
    },
    addToCart(product) {
      var user = JSON.parse(localStorage.getItem("user"));
      let item = [];
      item.push({
        productId: product.id,
        qty: 1,
        customerId: user.id
      });
      CartService.addToCart(item[0])
        .then(response => {
          if (response.status === 201) {
            alert("Added to cart");
          }
        })
        .catch(err => {
          alert(err);
        });
    }
  },
  mounted() {
    this.getProducts();
  }
};
</script>
