<template>
    <div id="app">
        <v-app>
            <v-navigation-drawer app
                                 v-model="drawer">
                <v-app-bar color="primary">

                </v-app-bar>

            </v-navigation-drawer>

            <v-app-bar app color="primary">

                <v-app-bar-nav-icon append-icon="menu"
                                    @click="drawer=!drawer">

                </v-app-bar-nav-icon>
                <v-btn
                    text
                    to="/">
                    Logo
                </v-btn>
                <v-row justify="end">
                    <v-btn 
                        v-if="!isLoggedIn"
                        color="primary"
                        to="/login">
                        Login
                    </v-btn>
                    <v-btn
                        v-if="!isLoggedIn"
                        color="primary"
                        to="/signup"
                        >
                        Sign up
                    </v-btn>
                    <v-btn
                        v-if="isLoggedIn"
                        color="primary"
                        to="/order"
                        >
                        Orders
                    </v-btn>
                    <v-btn
                        v-if="isLoggedIn"
                        color="primary"
                        to="/cart"
                        >
                        Cart
                    </v-btn>
                    <v-btn
                        v-if="isLoggedIn"
                        color="primary"
                        @click="logout"
                        >
                        Logout
                    </v-btn>
                </v-row>
            </v-app-bar>
            <v-content>
                <v-container fluid>
                    <router-view></router-view>
                </v-container>
            </v-content>
            <v-footer app>
            </v-footer>
        </v-app>
    </div>
</template>

<script>
    export default{
        data: () => ({
                drawer: false
            }),
        methods: {
            logout() {
                //localStorage.removeItem('user');
                this.$store.dispatch('logout');
            }
        },
        computed: {
            isLoggedIn() {
                return this.$store.state.loggedIn;
            }
        },
        mounted() {
            //this.$store.dispatch('isLoggedInStatus');
        }
    }
</script>

<style>
    #app {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top:0em;
    }</style>